{
  "presets": [
    "es2015",
    "react",
    "survivejs-kanban"
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ],
      "plugins": ["transform-react-stateless-component-name"]
    }
  }
}